<link rel="stylesheet" type="text/css" href="/stylesheets/headerLogout.css" />
<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li><a href="/userView"><span class="glyphicon glyphicon-home"></span> Home</a></li>
      <li><a> Games</a></li>
      <li><a> LeaderBoards</a></li>
      <li><a href="catalog"> Forums</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <form class="navbar-right" action="/logout" method="get">
        <input class="toolbarButtons" type="submit" name="logout" value="Log Out">
      </form>
    </ul>
  </div>
</nav>
