<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li><a href="/userView"><span class="glyphicon glyphicon-home"></span> Home</a></li>
      
      <li><a href="/games"><span class="glyphicon glyphicon-headphones"></span> Games</a></li>
     
      <li><a href="/leaderBoards"><span class="glyphicon glyphicon-signal"></span> LeaderBoards</a></li>
      <li><a href="/catalog"><span class="glyphicon glyphicon-list"></span> Forums</a></li>
      <li><a href="/user_add"><span class="glyphicon glyphicon-search"></span> User Search</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <!-- <li>
        <a href='/chat'><span class="glyphicon glyphicon-envelope"></span>   Chat Room</a>
      </li> -->
      <li class="navbar-right">
        <a href='/logout'><span class="glyphicon glyphicon-log-out"></span>  Log Out</a>
      </li>
    </ul>
  </div>
</nav>
