body{
	margin: auto;
}
#mainContainer{
	margin:auto;
	max-width: 1000px;
}
#catalogContainer{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
.threadPreview{
	padding: 9px;
	color: black;
}.threadPreview:hover{
	background-color: white;
	text-decoration: none;
}
.posts{
	border: 2px black solid;
}