body{
	margin: auto;
}
#catalogContainer{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
.threadPreview{
	margin-bottom: 3px;
	border: 2px black solid;
}
.posts{
	border: 2px black solid;
}