body{
	background-color: #E5E5E5 !important;
}
a{
	text-decoration:none;
}
.post{
}
.hiddenLink:hover{
	color: #FF6600;
	cursor: pointer;
}
.subject{
	font-weight:bold;
	color: black;
}
.username{
	color: #004A9B;
	font-weight: bold;
}
