#opPost{
	border: 0px;
	padding-left: 20px;
	padding-bottom: 20px;
}
.postBox{
	display: flex;
	flex-direction: row;
	margin: 4px;
}
.post{
	background-color:#DDDDDD;
	padding: 6px;
	margin-left: 6px;
}
.mainText{
	display: block;
	margin: 6px 0px 6px 24px;
}
.selectBar{
	user-select: none; /* Standard */
	cursor: default;
}
#newPostSection{
	position: absolute;
	border: 2px solid black;
	display: none;
	background-color: #EEEEEE;
	top: 50%;
   left: 50%;
	padding: 4px;
	user-select: none;
}
#newPostSectionHeader{
	text-align: center;
	font-weight: bold;
	cursor: move;
}
#userTextarea{
	width: 300px;
	height: 90px;
	overflow-y: auto;
}

