<html>
<head>
<!--  Including the chessboardjs files:-->
<link rel="stylesheet" href="css/chessboard-1.0.0.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="./js/chess.js"></script>
<script src="./js/chessboard-1.0.0.js"></script>
    

<!--  Including jQuery, another tool chessboardjs uses:-->
  
  </head>
<body>
  <div id="myBoard" style="width: 400px"></div>
  </body>

<!--
  Now including our own custom JS
  Note that we could write JS directly in between the script tags if you'd 
  rather, but i didn't want to so i put it in a new file. 
-->

<script src = "socket.io/socket.io.js"></script>
  <script src="./js/script.js"></script>
</html>