<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Registering has failed</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/invariant.css">
    <link rel="stylesheet" href="./stylesheets/loginPages.css">
  </head>
  <body>
    <div class="loginNotice">
        <h2>This email is already taken, please choose another. </h2>
        <form class="" action="/login" method="get">
          <input class="submitButtons" type="submit" name="registerRedirect" value="Registration">
        </form>
    </div>
  </body>
</html>
