<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/stylesheets/invariant.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/loginPages.css" />    <meta charset="utf-8">
    <title>Reset your password</title>
  </head>
  <body>
    <div class="forgotPage">
      <form class="container align-middle a" action="/reset-email" method="post">
        <div class="forgotForm">
          If your account has an email account associated with it, you can request a password reset. <br>
          <input class="textBoxes" type="text" placeholder="Enter your email address" name="email" required> <br>
          <input class="submitButtons" type="submit" name="submitEmail" value="Submit">
        </div>
      </form>
    </div>
  </body>
</html>
