<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/invariant.css">
</head>
<body>
  <% if(session.role == ('a' || 'm')) { %>
    <% include ../partials/adminNav.ejs %>
  <% } else { %>
    <%include ../partials/nav.ejs%>
  <%} %>
  <% include ../partials/chat.ejs %>
  <div>
  <ul style="float:left; list-style-type: none;">
  <li><a href="/rooms" ><img src='/img/chesspieces/wikipedia/bK.png'></a></li>
  </ul>
</div>
</body>
</html>
