<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/invariant.css">
</head>
<body>
  <% include ../partials/nav.ejs %>
  <div><a href="/chess">Click here for chess</a></div>
</body>
<% include ../partials/chat.ejs %>
</html>