<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/invariant.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/loginPages.css" />    <meta charset="utf-8">
    <title>Login or Register to Splatt</title>
  </head>
  <body>
    <div class="loginRegister">
    <form class="container align-middle a" action="/loginForm" method="post">
      <div class="loginForm">
        <input class="textBoxes" type="text" placeholder= "Enter your username" name="username" required><br/>
        <input class="textBoxes" type="password" placeholder= "Enter your password" name="password" required><br/>
        <a href="/forgot" >Forgot your password?</a><br>
        <input class="submitButtons" type="submit" name="submitLogin" value="Login">
      </div>
    </form>
<br>
    <form class="container align-middle a" action="/registerForm" method="post">
      <div class="registerForm">
        <input class="textBoxes" type="text" placeholder= "Select a username" name="username" required><br/>
        <input class="textBoxes" type="password" placeholder= "Select a password" name="password" required><br/>
        <input class="textBoxes" type="text" placeholder= "Enter your email (optional)" name="email"><br/>
        <input class="submitButtons" type="submit" name="submitRegister" value="Register">
      </div>
    </form>
  </div>
  </body>
</html>
