<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login or Register to Splatt</title>
  </head>
  <body>
    <form class="" action="/loginForm" method="post">
      <div class="loginForm">
        <input type="text" placeholder= "Enter your username" name="username" required>
        <input type="password" placeholder= "Enter your password" name="password" required>
        <input type="submit" name="submitLogin" value="Login">
      </div>
    </form>
<br>
    <form class="" action="/registerForm" method="post">
      <div class="registerForm">
        <input type="text" placeholder= "Select a username" name="username" required>
        <input type="password" placeholder= "Select a password" name="password" required>
        <input type="text" placeholder= "Enter your email (optional)" name="email">
        <input type="submit" name="submitRegister" value="Register">
      </div>
    </form>
  </body>
</html>
