<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Your login has failed</title>
  </head>
  <body>
    <div class="loginFailed">
      <h2>Your username or password is incorrect. Click <a href="/login"> this link </a> to return to the login page.</h2>
    </div>
  </body>
</html>
