<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Your login has failed</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/invariant.css">
    <link rel="stylesheet" href="./stylesheets/loginPages.css">
  </head>
  <body>
    <div class="loginNotice">
        <h2>Your username or password is incorrect, please try again.</h2>
        <form class="" action="/login" method="get">
          <input class="submitButtons" type="submit" name="loginRedirect" value="Go back">
        </form>
    </div>
  </body>
</html>
