<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/stylesheets/invariant.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/loginPages.css" />    <meta charset="utf-8">
    <title>Successful Reset!</title>
  </head>
  <body>
    <div class="successPage">
      <h4> You have successfully reset your password. <a href="/">Click here</a> to be taken back to the login page. </h4>
    </div>
  </body>
</html>
