<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/stylesheets/invariant.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/loginPages.css" />    <meta charset="utf-8">
    <title>Reset your password</title>
  </head>
  <body>
    <% rows.forEach(function(r) { %>
    <div class="resetPage">
      <form class="container align-middle a" action="/reset-password" method="post">
        <div class="forgotForm">
          Resetting password for user: <%=r.username%> <br>
          If these passwords do not match, the page will be reloaded. <br>
          <input type="hidden" name="user" value="<%=r.username%>">
          <input class="textBoxes" type="password" placeholder="Enter your new password" name="password1" required> <br>
          <input class="textBoxes" type="password" placeholder="Confirm your new password" name="password2" required> <br>
          <input class="submitButtons" type="submit" name="submitPassReset" value="Submit">
        </div>
      </form>
    </div>
    <% }); %>
  </body>
</html>
