<!DOCTYPE html>
<html>
<head>
<title>Splatt - Rules</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/invariant.css">
</head>
<body>
	<h3>Global Rules</h3>
	<ol>
		<li>Posts is extremely low quality, such as one-word replies.</li> 
		<li>Posts with advertising or begging, such as bitcoin addresses.</li> 
		<li>Post contains personal information, such as address and real name.</li> 
		<li>Posts that are indicitive of spamming/flooding.</li> 
		<li>Posts made by users that can be assumed by self-admition or post content to be underage.</li> 
	</ol>
	<a onclick ="window.history.back()">Click here to go back.</a>
</body>

</html>