<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Registering has failed</title>
  </head>
  <body>
    <div class="usernameTaken">
      <h2>The username you have entered has already been taken. Click <a href="/login"> this link </a> to return to the registration page.</h2>
    </div>
  </body>
</html>
